{
    "swagger": "2.0",
    "info": {
        "title": "Shop-Script API",
        "description": "HTTP JSON API",
        "version": "1.0.0"
    },
    "host": "api.shopscript.dev",
    "basePath": "/",
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json",
        "application/xml",
        "application/x-www-form-urlencoded"
    ],
    "produces": [
        "application/json",
        "application/xml"
    ],
    "paths": {
        "/": {
            "get": {
                "tags": [
                    "Info"
                ],
                "responses": {
                    "200": {
                        "description": "API version",
                        "schema": {
                            "properties": {
                                "version": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/product": {
            "get": {
                "tags": [
                    "Catalog"
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ProductItem"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [],
                        "OAuth2": []
                    }
                ]
            }
        },
        "/product/{productId}": {
            "get": {
                "tags": [
                    "Catalog"
                ],
                "parameters": [
                    {
                        "name": "productId",
                        "in": "path",
                        "description": "ID of product",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/ProductView"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [],
                        "OAuth2": []
                    }
                ]
            }
        },
        "/user/profile": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "description": "Returns profile info",
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/Profile"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [],
                        "OAuth2": []
                    }
                ]
            }
        }
    },
    "definitions": {
        "ErrorModel": {
            "required": [
                "code",
                "message"
            ],
            "properties": {
                "code": {
                    "type": "integer"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ProductItem": {
            "properties": {
                "id": {
                    "type": "integer"
                },
                "code": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "category": {
                    "$ref": "#/definitions/ProductCategory"
                },
                "brand": {
                    "$ref": "#/definitions/ProductBrand"
                },
                "price": {
                    "type": "integer"
                },
                "thumbnail": {
                    "type": "string"
                },
                "_links": {
                    "properties": {
                        "self": {
                            "properties": {
                                "href": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "ProductView": {
            "properties": {
                "id": {
                    "type": "integer"
                },
                "code": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "price": {
                    "type": "integer"
                },
                "description": {
                    "type": "string"
                },
                "category": {
                    "$ref": "#/definitions/ProductCategory"
                },
                "brand": {
                    "$ref": "#/definitions/ProductBrand"
                },
                "rating": {
                    "type": "float"
                },
                "weight": {
                    "type": "integer"
                },
                "quantity": {
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ProductCategory": {
            "properties": {
                "id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "_links": {
                    "properties": {
                        "self": {
                            "properties": {
                                "href": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "ProductBrand": {
            "properties": {
                "id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "_links": {
                    "properties": {
                        "self": {
                            "properties": {
                                "href": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "ProductPhoto": {
            "properties": {
                "thumbnail": {
                    "type": "string"
                },
                "origin": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Profile": {
            "properties": {
                "id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "city": {
                    "type": "string"
                },
                "role": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "securityDefinitions": {
        "OAuth2": {
            "type": "oauth2",
            "flow": "password",
            "tokenUrl": "http://api.shopscript.dev/oauth2/token"
        },
        "Bearer": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    }
}